.App {

  mix-blend-mode: overlay;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;

}
::-webkit-scrollbar{
  display: none;
}
.stroke{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width:3px;
  -webkit-text-stroke-color:white;

}
.blur{
  background: rgba(253,120,43,0.69);
  position: absolute;
  border-radius: 50%;
  filter:blur(150px);/*HTML elemanlarına bulanıklaştırmak için blur değeri kullanılır.*/
  z-index: -9;
  

}